<h1>Post</h1>

  <nav>
    <div class="nav-wrapper">
      <div class="col s12">
        <%= link_to @post.sub_category.category.name, sub_categories_path(@post.sub_category.category), class: "breadcrumb" %>
        <%= link_to @post.sub_category.name, sub_categories_path(@post.sub_category), class: "breadcrumb" %>
      </div>
    </div>
  </nav>

<%= @post.body %>

<%= link_to like_post_path(@post), method: :put do %>
  Upvote
  <%= @post.get_upvotes.size %>
<% end %>

<%= link_to dislike_post_path(@post), method: :put do %>
  Downvote
  <%= @post.get_downvotes.size %>
<% end %>